* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  background-color: #EAEAEA;
  font-family: sans-serif;
}

.navbar {
  padding: 15px;
  background-color: gray;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 25px;
  font-weight: bold;
}

.navdiv li {
  display: inline-block;
  margin-right: 10px;
}

.navdiv li a {
  font-size: 18px;
  color: black;
}

.header-title {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.header-below-title {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.container {
  display: flex;
  border: 2px solid black;
  margin-top: 40px;
  padding: 20px;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  width: 33%;
}

.block:not(:last-child) {
  border-right: 2px solid black;
}

.block ul {
  padding: 0;
  margin-top: 20px;
}

.block ul li {
  margin-top: 10px;
  list-style: none;
}

.block ul li a {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: black;
}

#article a {
  text-decoration: none;
  color: blue;
}

.container b {
  font-size: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    gap: 20px;
}

.box {
    border: 2px solid black;
    border-radius: 10px;
}

.box p {
    padding: 20px;
}