body {
    font-family: 'Poppins';
}

.date-input-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  max-width: 800px;
  margin: 0 auto; 
}


.date-input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.calendar-icon {
  width: 30px;
  height: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  cursor: pointer;
}

.hoho {
    flex-grow: 1;
}


.calendar {
    margin: auto;
    max-width: 800px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.month {
    text-align: center;
    background: white;
    font-size: 40px;
    letter-spacing: 10px;
    border: 5px solid black;
    background-color: black;
    color: white;
}

table, th, td {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    border: 3px solid black;
}

tr, th, td {
    padding: 15px;
}

th {
    background-color: gray;
    color: white;
}

td:hover {
    background-color: lightgray;
    color: white;
}

